/**  CSS Variables **/
:root {
  /* Gradient styles */
  --ion-color-primary: #18bb4e;
  --bg: "#fff";
  --bg1: linear-gradient(90deg, #112949 0%, #000000 100%);
  --bg2: #3cc3f2;
  --bg3: #fff;
  --text: #0a1a2e;
  --text1: #112949;
  --font-famliy: Louis George Café;
}
